*,
*:before,
*:after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url(/cse340/phpmotors/images/vehicles/site/checkerboard.jpg);
}

body .bg {
  margin: 2%;
  padding: 2%;
  background-color: white;
  border: 8px solid #4c96d7;
}

body .bg header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2%;
}

body .bg .newClassName {
  display: block;
}

body .bg nav ul {
  background-color: #3a3a3a;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .bg nav ul li:first-child {
  display: none;
  cursor: pointer;
}

body .bg nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0 8px;
}

body .bg nav ul li a {
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

body .bg nav ul li:hover {
  background-color: #4c96d7;
}

body .bg nav ul li:hover a {
  color: #3a3a3a;
}

body .bg .notice {
  margin: 0 -9px;
  color: red;
}

body .bg .container-vehicles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

body .bg .container-vehicles a,
body .bg .container-vehicles h2,
body .bg .container-vehicles p,
body .bg .container-vehicles select {
  margin: 2px -9px;
}

body .bg .container-vehicles select {
  padding: 8px;
  width: 20%;
}

body .bg #inventoryDisplay thead tr th {
  margin: 2px -1px;
  display: table;
}

body .bg form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

body .bg form .container input,
body .bg form .container select {
  padding: 6px;
  margin: 10px 0;
}

body .bg form .container button,
body .bg form .container #regbtn {
  padding: 6px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}

body .bg .delorean {
  margin: -1px;
}

body .bg .delorean img {
  width: 100%;
}

body .bg .heading {
  font-size: larger;
}

body .bg .heading p {
  color: #4c96d7;
  margin: 0px;
}

body .bg .heading p:first-child {
  font-weight: bolder;
}

body .bg #inv-display {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .bg #inv-display li {
  list-style-type: none;
  border: 1px black solid;
  width: 20%;
}

body .bg #inv-display li div {
  height: 180px;
  text-align: center;
  cursor: pointer;
}

body .bg #inv-display li div img {
  width: 100%;
}

body .bg #inv-display li .container {
  padding: 2px 16px;
}

body .bg .vehicle-details {
  width: 50%;
}

body .bg .vehicle-details img {
  width: 100%;
}

body .bg .button {
  margin: 30px 0;
  background-color: #4c96d7;
  border: 1px solid black;
  padding: 10px;
  width: 96px;
}

body .bg .button a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  text-align: center;
}

body .bg .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2%;
}

body .bg .sub-content .upgrades {
  width: 100%;
  margin-bottom: 100px;
}

body .bg .sub-content .upgrades .grid2x2 {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body .bg .sub-content .upgrades .grid2x2 .box {
  margin: 10px;
  background-color: #4c96d7;
  width: 40%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .bg .sub-content .upgrades .grid2x2 .box img {
  width: 30%;
  margin: auto;
}

body .bg .sub-content .upgrades .grid2x2 .box a {
  color: blue;
  text-align: center;
  background-color: white;
}

body .bg .sub-content .reviews {
  width: 100%;
}

body .bg .sub-content .reviews ul {
  margin: 0;
}

body .bg .sub-content .reviews ul li {
  margin: 2% 0px 2% -14px;
  font-size: x-large;
}

body .bg footer {
  border-top: 2px solid #3a3a3a;
  text-align: center;
}

body .bg footer p {
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  body .bg header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
  body .bg nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .bg nav ul li:first-child {
    display: block;
    font-weight: bolder;
  }
  body .bg nav ul li {
    display: none;
  }
  body .bg nav ul li a {
    text-align: left;
  }
  body .bg #inv-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .bg #inv-display li {
    width: 100%;
  }
  body .bg #inv-display li div {
    height: 200px;
    cursor: pointer;
  }
  body .bg #inv-display li div img {
    width: 100%;
  }
  body .bg main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .bg .container-vehicles select {
    padding: 8px;
    padding: 2.5%;
    width: 100%;
  }
  body .bg #inventoryDisplay thead tr th {
    margin: 2px -1px;
    display: table;
  }
  body .bg .vehicle-details {
    width: 100%;
  }
  body .bg .vehicle-details img {
    width: 100%;
  }
  body .bg form .container {
    width: 100%;
  }
  body .bg .button {
    width: 40%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  body .bg .sub-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .bg .sub-content .upgrades {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .bg .sub-content .upgrades .grid2x2 {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .bg .sub-content .upgrades .grid2x2 .box {
    margin: 10px;
    background-color: #4c96d7;
    width: 40%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .bg .sub-content .upgrades .grid2x2 .box img {
    width: 30%;
    margin: auto;
  }
  body .bg .sub-content .upgrades .grid2x2 .box a {
    color: blue;
    text-align: center;
    background-color: white;
  }
  body .bg .sub-content .reviews {
    width: 100%;
  }
  body .bg .sub-content .reviews ul {
    margin: 0;
  }
  body .bg .sub-content .reviews ul li {
    margin: 2% 0px 2% -14px;
    font-size: medium;
  }
}
/*# sourceMappingURL=style.css.map */