*,
*:before,
*:after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  box-sizing: inherit;
}

.bg {


  .container-vehicles {
    display: flex;

    flex-direction: column;
    margin: 10px;
  }

  .admin {
    padding: 2%;
  }
}


body {
  background-image: url(/cse340/phpmotors/images/vehicles/site/checkerboard.jpg);

  .bg {

    //Header
    header {
      display: flex;
      justify-content: space-between;

      span {
        margin: 2%;
      }

      #acctLink {
        margin: 2%;
        position: relative;
        top: 0.5em;
        text-decoration: none;
        color: #3a3a3a;
      }
    }

    h1 {
      margin: 20px;
    }

    /* For vehicle display in classification view */
    #inv-display {
      margin: 10px;
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      justify-content: flex-start;



      h2 {

        font-size: 1rem;
      }

      hr {
        margin: auto;
        position: relative;
        width: 100%;
      }

      li {
        margin-bottom: .5em;
        border: 1px #ccc solid;
        list-style-type: none;
        margin: 10px;
        max-width: 200px;
        flex: 1;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        div {
          flex: 1;

          img {
            width: 100%;
          }
        }
      }


    }



    .welcome {
      margin: 1% 0;
    }

    #welcome {
      text-align: center;
      margin: 1em auto;
      display: block;
    }

    background-color: white;

    border: 8px solid #4c96d7;

    form {
      margin: 2%;

      .container {
        padding: 2%;
        display: flex;
        flex-direction: column;
        width: 20%;

        background-color: #d2d2d2;

        label {
          color: #000000;
        }

        input {
          padding: 2%;
          margin: 8px 0;
        }

        input:invalid {
          background-color: #ffdddd;
        }

        input:required:invalid {
          border-color: #c00000;
        }

        input:required:valid {
          border: 2px green solid;
        }

        button {
          padding: 2%;
          margin: 4px 0;
          border: none;
          background-color: black;
          color: white;
        }

        button:hover {
          background-color: yellowgreen;
        }
      }
    }

    #welcome {
      text-align: center;
      margin: 1em auto;
      display: block;
    }



    nav {
      background-color: #3a3a3a;
      text-align: left;

      ul {
        li {
          list-style-type: none;

          display: inline;

          padding: 10px;

          a {
            padding: 10px 0;
            display: inline-block;
            text-decoration: none;
            color: #ffffff;
          }
        }

        li:hover {
          background-color: #4c96d7;

          a {
            color: #3a3a3a;
          }
        }
      }
    }

    .container-vehicles {
      display: flex;

      flex-direction: column;
      margin: 10px;

      #classificationList {
        width: 15%;
      }
    }

    #inventoryDisplay {
      padding: 1%;
    }

    main {
      background-image: url(/cse340/phpmotors/images/vehicles/delorean.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: 2%;
      height: 100vh;

      .heading {
        p {
          color: #4c96d7;
          margin: -1px;
        }

        p:first-child {
          font-weight: bolder;
        }
      }

      .button {
        margin: 15px 0;
        background-color: #4c96d7;
        border: 1px solid black;
        padding: 10px;
        width: 10%;

        a {
          margin: 10px;
          text-decoration: none;
          color: black;
          font-size: 1.2em;
        }
      }
    }

    .sub-content {
      display: flex;
      justify-content: space-evenly;

      .upgrades {
        width: 30%;
        margin-bottom: 100px;

        .grid2x2 {
          min-height: 100%;

          display: flex;
          flex-wrap: wrap;
          flex-direction: row;

          .box {
            margin: 10px;
            background-color: #4c96d7;
            width: 170px;
            height: 100px;
            display: flex;
            flex-direction: column;

            img {
              width: 30%;
              margin: auto;
            }

            a {
              color: blue;
              text-align: center;
              background-color: white;
            }
          }
        }
      }

      .reviews {
        ul {
          margin: 0;

          li {
            font-size: x-large;
          }
        }
      }
    }

    footer {
      border-top: 2px solid #3a3a3a;
      text-align: center;

      p {
        margin: 2px;
      }
    }
  }



}

@media all and (min-width: 480px) and (max-width: 768px) {
  .bg {

    header {
      display: block;
      text-align: center;
      justify-content: center;

    }
  }

}