*,
*:before,
*:after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  box-sizing: inherit;
}



body {
  //background image
  background-image: url(/cse340/phpmotors/images/vehicles/site/checkerboard.jpg);

  //white background
  .bg {
    margin: 2%;
    padding: 2%;
    background-color: white;
    border: 8px solid #4c96d7;

    //header
    header {
      display: flex;
      justify-content: space-between;
      margin: 2%;
    }

    .newClassName {
      display: block;
    }


    .admin {
      ul {
        padding: 0;

        li {
          margin: 0;
          list-style-type: none;
        }
      }
    }


    //image-upload
    .image-upload {
      .container-images {
        display: block;
        width: 50%;

        p {
          margin: 0;
        }

        form {
          display: flex;
          flex-direction: column;

          fieldset {

            border: none;
            margin: 0 10px 0 -12px;


            label {
              padding: 0;
              margin: 0 10px 0 0;
            }

            div {
              input {
                padding: 6px 8px;
                margin: 10px 0;
                border: none;
                color: white;
                background-color: black;
              }
            }

          }
        }

      }

      #image-display {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          width: 10%;
          list-style-type: none;
          border: black solid 1px;
          padding: 1%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          word-wrap: break-word;

          img {
            width: 100%;
          }

          p {



            a {

              text-decoration: none;
              color: red;
            }

          }
        }
      }
    }

    //detail Container
    .detail-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;

      div {


        img {
          width: 50%;
        }
      }

      //inv-display-details
      .vehicle-details {
        width: 50%;


        img {
          width: 100%;
        }
      }


      #thumbnails {
        h3 {
          display: none;
        }

        ul {
          padding: 0;

          li {
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;

            img {
              margin: 5px 0px;
              width: 70%;
            }

            img:hover {
              transform: scale(1.25);
              transition: transform .8s ease-in-out;
              cursor: pointer;

            }
          }
        }

        padding: 0;
      }

    }

    //Reviews

    .review-container {
      padding: 0%;
      margin: 0%;
      margin: auto;
      display: block;
      width: 68.5%;
      display: flex;
      flex-direction: column;


      .form-msg {
        color: red;
      }

      h3,
      h4 {
        margin: 0;
      }

      h3 {
        color: rgb(105, 31, 31);
      }

      h4 {

        color: #691f1f;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 40%;

        input {
          border: none;
          width: 40%;
          margin: 0px 0;
        }

        textarea {
          margin: 10px 0;
          height: 100px;
        }

        .submitt {
          padding: 8px;
          background-color: black;
          color: white;
          cursor: pointer;
        }
      }

      #reviews {
        margin: 10px 0;
        padding: 0;

        .form {
          color: blue;
        }

        li {
          list-style-type: none;
          font-weight: bold;

          span {
            font-style: italic;
            font-weight: normal;
          }
        }
      }
    }

    .update-reviews,
    .delete-reviews {
      form {
        display: flex;
        flex-direction: column;
        width: 30%;

        textarea {
          height: 100px;
        }

        .submitt {
          border: none;
          width: 40%;
          margin: 10px 0;
          padding: 8px;
          background-color: black;
          color: white;
          cursor: pointer;

        }
      }
    }

    //navigation
    nav {
      ul {

        background-color: #3a3a3a;
        text-align: left;
        display: flex;

        li:first-child {
          display: none;
          cursor: pointer;
        }

        li {
          list-style-type: none;
          display: inline;
          padding: 0 8px;

          a {
            padding: 10px 0;
            display: inline-block;
            text-decoration: none;
            color: #ffffff;
          }
        }

        li:hover {
          background-color: #4c96d7;

          a {
            color: #3a3a3a;
          }
        }
      }
    }

    //message
    .notice {
      margin: 0 -9px;
      color: red;
    }

    //container-vehicle
    .container-vehicles {
      display: flex;
      flex-direction: column;
      padding: 10px;

      a,
      h2,
      p,
      select {
        margin: 2px -9px;
      }

      select {
        padding: 8px;
        width: 20%;
      }
    }

    //inventory Display
    #inventoryDisplay {


      thead {
        tr {
          th {
            margin: 2px -1px;
            display: table;
          }
        }
      }

    }

    //form
    form {
      .container {
        display: flex;
        flex-direction: column;
        width: 20%;

        input,
        select {
          padding: 6px;
          margin: 10px 0;
        }

        button,
        #regbtn {
          padding: 6px;
          border: none;
          cursor: pointer;
          background-color: black;
          color: white;
        }
      }
    }

    //image
    .delorean {
      margin: -1px;

      img {
        width: 100%;
      }
    }

    //heading
    .heading {
      font-size: larger;

      p {
        color: #4c96d7;
        margin: 0px;
      }

      p:first-child {
        font-weight: bolder;
      }
    }

    //inv-display
    #inv-display {
      margin: 0;
      padding: 0;
      display: flex;


      li {
        list-style-type: none;
        border: 1px black solid;
        width: 20%;

        div {
          height: 180px;
          text-align: center;
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        .container {
          padding: 2px 16px;
        }



      }
    }


    //button
    .button {
      margin: 30px 0;
      background-color: #4c96d7;
      border: 1px solid black;
      padding: 10px;
      width: 96px;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        text-align: center;
      }
    }

    //sub-content
    .sub-content {
      display: flex;
      justify-content: space-around;
      padding: 2%;

      .upgrades {
        width: 100%;
        margin-bottom: 100px;

        .grid2x2 {
          min-height: 100%;

          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: left;

          .box {
            margin: 10px;
            background-color: #4c96d7;
            width: 40%;
            height: 150px;
            display: flex;
            flex-direction: column;



            img {
              width: 30%;
              margin: auto;
            }

            a {
              color: blue;
              text-align: center;
              background-color: white;
            }
          }
        }
      }

      //reviews
      .reviews {
        width: 100%;

        ul {
          margin: 0;

          li {
            margin: 2% 0px 2% -14px;
            font-size: x-large;
          }
        }
      }
    }

    //footer
    footer {
      border-top: 2px solid #3a3a3a;
      text-align: center;

      p {
        margin: 10px;
      }
    }
  }
}


//mobile Screen
@media only screen and (max-width: 767px) {

  body {
    .bg {

      //header
      header {
        flex-direction: column;
        text-align: right;
      }

      //nav
      nav {
        ul {
          display: flex;
          flex-direction: column;

          li:first-child {
            display: block;
            font-weight: bolder;
          }

          li {
            display: none;

            a {
              text-align: left;
            }
          }
        }
      }

      //inv-display
      #inv-display {

        display: flex;
        flex-direction: column;


        li {
          width: 100%;

          div {
            height: 200px;

            cursor: pointer;


            img {
              width: 100%;
            }
          }
        }
      }

      main {
        display: flex;
        flex-direction: column;
      }

      //container-vehicle
      .container-vehicles {
        select {
          padding: 8px;
          padding: 2.5%;
          width: 100%;
        }
      }

      //inventory Display
      #inventoryDisplay {

        thead {
          tr {
            th {
              margin: 2px -1px;
              display: table;

            }
          }
        }

      }


      //details-container
      .detail-container {
        display: block;
        flex-direction: row-reverse;
        justify-content: flex-end;

        div {


          img {
            width: 100%;
          }
        }

        //inv-display-details
        .vehicle-details {
          width: 100%;

          img {
            width: 100%;
          }
        }

        #thumbnails {
          h3 {
            display: block;
          }

          ul {
            li {
              img {
                margin-right: auto;
                width: 70%;
              }
            }
          }

        }
      }


      .review-container {
        padding: 0%;
        margin: 0%;
        margin: auto;
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;

        h3,
        h4 {
          margin: 0;
        }

        h3 {
          color: rgb(105, 31, 31);
        }

        h4 {
          font-style: italic;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;

          input {
            border: none;
            width: 40%;

          }

          .submitt {
            padding: 8px;
            background-color: black;
            color: white;
            cursor: pointer;
            margin-bottom: 10px;
          }
        }
      }

      .update-reviews,
      .delete-reviews {
        form {
          display: flex;
          flex-direction: column;
          width: 100%;

          textarea {
            height: 100px;
          }

          .submitt {
            border: none;
            width: 40%;
            margin: 10px 0;
            padding: 8px;
            background-color: black;
            color: white;
            cursor: pointer;

          }
        }
      }

      //image-upload
      .image-upload {
        .container-images {
          display: block;
          width: 100%;

          p {
            margin: 0;
          }

          form {
            display: flex;
            flex-direction: column;

            fieldset {

              border: none;
              margin: 0 10px 0 -12px;


              label {
                padding: 0;
                margin: 0 10px 0 0;
              }

              div {
                input {
                  padding: 6px 8px;
                  margin: 10px 0;
                  border: none;
                  color: white;
                  background-color: black;
                }
              }

            }
          }

        }

        #image-display {
          margin: 0;
          padding: 0;
          flex-direction: column;
          width: 100%;

          li {
            list-style-type: none;
            width: 100%;



            p {


              a {

                color: black;
              }
            }

          }
        }
      }

      //form
      form {
        .container {
          width: 100%;
        }
      }

      //button
      .button {
        width: 40%;
        order: 1;
        align-self: center;
        text-align: center;


      }

      //sub-content{
      .sub-content {
        flex-direction: column;

        .upgrades {
          width: 100%;
          margin-bottom: 10px;
          order: 1;

          .grid2x2 {
            min-height: 100%;

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .box {
              margin: 10px;
              background-color: #4c96d7;
              width: 40%;
              height: 100px;
              display: flex;


              img {
                width: 30%;
                margin: auto;
              }

              a {
                color: blue;
                text-align: center;
                background-color: white;
              }
            }
          }


        }

        .reviews {
          width: 100%;

          ul {
            margin: 0;

            li {
              margin: 2% 0px 2% -14px;
              font-size: medium;
            }
          }
        }
      }
    }
  }

}