*,
*:before,
*:after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  box-sizing: inherit;
}



body {
  //background image
  background-image: url(/cse340/phpmotors/images/vehicles/site/checkerboard.jpg);

  //white background
  .bg {
    margin: 2%;
    padding: 2%;
    background-color: white;
    border: 8px solid #4c96d7;

    //header
    header {
      display: flex;
      justify-content: space-between;
      margin: 2%;
    }

    .newClassName {
      display: block;
    }


    //navigation
    nav {
      ul {

        background-color: #3a3a3a;
        text-align: left;
        display: flex;

        li:first-child {
          display: none;
          cursor: pointer;
        }

        li {
          list-style-type: none;
          display: inline;
          padding: 0 8px;

          a {
            padding: 10px 0;
            display: inline-block;
            text-decoration: none;
            color: #ffffff;
          }
        }

        li:hover {
          background-color: #4c96d7;

          a {
            color: #3a3a3a;
          }
        }
      }
    }

    //message
    .notice {
      margin: 0 -9px;
      color: red;
    }

    //container-vehicle
    .container-vehicles {
      display: flex;
      flex-direction: column;
      padding: 10px;

      a,
      h2,
      p,
      select {
        margin: 2px -9px;
      }

      select {
        padding: 8px;
        width: 20%;
      }
    }

    //inventory Display
    #inventoryDisplay {


      thead {
        tr {
          th {
            margin: 2px -1px;
            display: table;
          }
        }
      }

    }

    //form
    form {
      .container {
        display: flex;
        flex-direction: column;
        width: 20%;

        input,
        select {
          padding: 6px;
          margin: 10px 0;
        }

        button,
        #regbtn {
          padding: 6px;
          border: none;
          cursor: pointer;
          background-color: black;
          color: white;
        }
      }
    }

    //image
    .delorean {
      margin: -1px;

      img {
        width: 100%;
      }
    }

    //heading
    .heading {
      font-size: larger;

      p {
        color: #4c96d7;
        margin: 0px;
      }

      p:first-child {
        font-weight: bolder;
      }
    }

    //inv-display
    #inv-display {
      margin: 0;
      padding: 0;
      display: flex;


      li {
        list-style-type: none;
        border: 1px black solid;
        width: 20%;

        div {
          height: 180px;
          text-align: center;
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        .container {
          padding: 2px 16px;
        }



      }
    }

    //inv-display-details
    .vehicle-details {
      width: 50%;

      img {
        width: 100%;
      }
    }

    //button
    .button {
      margin: 30px 0;
      background-color: #4c96d7;
      border: 1px solid black;
      padding: 10px;
      width: 96px;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        text-align: center;
      }
    }

    //sub-content
    .sub-content {
      display: flex;
      justify-content: space-around;
      padding: 2%;

      .upgrades {
        width: 100%;
        margin-bottom: 100px;

        .grid2x2 {
          min-height: 100%;

          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: left;

          .box {
            margin: 10px;
            background-color: #4c96d7;
            width: 40%;
            height: 150px;
            display: flex;
            flex-direction: column;



            img {
              width: 30%;
              margin: auto;
            }

            a {
              color: blue;
              text-align: center;
              background-color: white;
            }
          }
        }
      }

      //reviews
      .reviews {
        width: 100%;

        ul {
          margin: 0;

          li {
            margin: 2% 0px 2% -14px;
            font-size: x-large;
          }
        }
      }
    }

    //footer
    footer {
      border-top: 2px solid #3a3a3a;
      text-align: center;

      p {
        margin: 10px;
      }
    }
  }
}


//mobile Screen
@media only screen and (max-width: 767px) {

  body {
    .bg {

      //header
      header {
        flex-direction: column;
        text-align: right;
      }

      //nav
      nav {
        ul {
          display: flex;
          flex-direction: column;

          li:first-child {
            display: block;
            font-weight: bolder;
          }

          li {
            display: none;

            a {
              text-align: left;
            }
          }
        }
      }

      //inv-display
      #inv-display {

        display: flex;
        flex-direction: column;


        li {
          width: 100%;

          div {
            height: 200px;

            cursor: pointer;


            img {
              width: 100%;
            }
          }
        }
      }

      main {
        display: flex;
        flex-direction: column;
      }

      //container-vehicle
      .container-vehicles {
        select {
          padding: 8px;
          padding: 2.5%;
          width: 100%;
        }
      }

      //inventory Display
      #inventoryDisplay {

        thead {
          tr {
            th {
              margin: 2px -1px;
              display: table;

            }
          }
        }

      }

      //inv-display-details
      .vehicle-details {
        width: 100%;

        img {
          width: 100%;
        }
      }

      //form
      form {
        .container {
          width: 100%;
        }
      }

      //button
      .button {
        width: 40%;
        order: 1;
        align-self: center;
        text-align: center;


      }

      //sub-content{
      .sub-content {
        flex-direction: column;

        .upgrades {
          width: 100%;
          margin-bottom: 10px;
          order: 1;

          .grid2x2 {
            min-height: 100%;

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .box {
              margin: 10px;
              background-color: #4c96d7;
              width: 40%;
              height: 100px;
              display: flex;


              img {
                width: 30%;
                margin: auto;
              }

              a {
                color: blue;
                text-align: center;
                background-color: white;
              }
            }
          }


        }

        .reviews {
          width: 100%;

          ul {
            margin: 0;

            li {
              margin: 2% 0px 2% -14px;
              font-size: medium;
            }
          }
        }
      }
    }
  }

}